extends ./layout.pug

block head
  head
    title list
    link(rel="stylesheet", href=`../css/${css}`)
block content
  .side
    .btn= '新建'
    div(class='btn editBtn')= '编辑'
    p.title 文件列表
    nav
      each item, index in mdList
        li
          a(href=`../?file=${item}&css=${css}`
            class=item===fileName ? 'active sideLink' : 'sideLink'
          )= item
  .content
    div.
      !{mdFile}
    .tooltip(onclick='handleShowComment()')
      p 评论
      .arrow
  .description
    .info
      .info-title 详细信息
      .info-content
        p 创建时间
        p= fileInfo.birthtime
        p 最后一次修改时间
        p= fileInfo.mtime
    div(class='comment' id='commenting')
      .comment-title 评论
      .comment-content
        textarea(placeholder='请输入…')
      .comment-operate
        span(class='linkBtn primary', onclick='handleSubmitComment()') 确定
        span(class='linkBtn error', onclick='handleCancleComment()') 取消
    each item, index in comments
      .comment
        .comment-title= item.text
        .comment-content
          .comment-author= item.author
          .comment-time= item.time
          - const COLOR = { error: '#ff5263', warnning: '#fcbd01', info: '#796eff' }
          p(style={color: COLOR[item.type]})= item.comment
        .comment-operate
          span(class='linkBtn error', onclick=`handleDeleteComment(${index})`) 删除