extends ./layout.pug

block head
  head
    title list
    link(rel="stylesheet", href=`../css/${css}`)
block content
  .side
    .btn= '新建'
    div(class='btn editBtn')= '编辑'
    p.title 文件列表
    nav
      each item, index in mdList
        li
          a(href=`../?file=${item}&css=${css}`
            class=item===fileName ? 'active sideLink' : 'sideLink'
          )= item
  .content
    div.
      !{mdFile}
  .description
    .info
      .info-title 详细信息
      .info-content
        p 创建时间
        p= fileInfo.birthtime
        p 最后一次修改时间
        p= fileInfo.mtime