extends ./layout.pug

block head
  head
    title list
    link(rel="stylesheet", href=`http://127.0.0.1:3000/css/${css}`)
block content
  div.side
    nav
      each item, index in list
        li
          a(href=`../?file=${item}&css=${css}`
            class=item===fileName ? 'active sideLink' : 'sideLink'
          )= item
  div.content
    div.
      !{mdFile}